USE [DinhCongDinh_2210900095]
GO
/****** Object:  Table [dbo].[DCD_SACH]    Script Date: 12/07/2024 7:50:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCD_SACH](
	[Dcd_MaSach] [nchar](10) NOT NULL,
	[Dcd_TenSach] [nvarchar](50) NULL,
	[Dcd_SoTrang] [numeric](18, 0) NULL,
	[Dcd_NamXB] [date] NULL,
	[Dcd_MaTG] [nchar](10) NULL,
	[Dcd_TrangThai] [bit] NULL,
 CONSTRAINT [PK_DCD_SACH] PRIMARY KEY CLUSTERED 
(
	[Dcd_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DCD_TACGIA]    Script Date: 12/07/2024 7:50:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCD_TACGIA](
	[Dcd_MaTG] [nchar](10) NOT NULL,
	[Dcd_TenTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dcd_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Dcd_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DCD_SACH]  WITH CHECK ADD  CONSTRAINT [FK_Dcd_SACH_Dcd_TACGIA] FOREIGN KEY([Dcd_MaTG])
REFERENCES [dbo].[DCD_TACGIA] ([Dcd_MaTG])
GO
ALTER TABLE [dbo].[DCD_SACH] CHECK CONSTRAINT [FK_Dcd_SACH_Dcd_TACGIA]
GO
